@import 'global.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 50px 0px 41px 0px;
    color: var(--grey600);
}

.calculator {
    padding: 34px 24px;
    box-sizing: border-box;
    width: 100%;

    background-color: var(--white);

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;   

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.calculator__input {
    padding: 0px 8px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.calculator__input__bill {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.calculator__input__tip {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.calculator__input__tip__select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.calculator__input__tip__select__item {
    padding: 6px 18px;

    background-color: var(--green900);
    color: var(--white);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
}

.item--custom {
    background-color: var(--grey50);
    color: var(--grey550);
}

.item--active {
    background-color: var(--green400);
    color: var(--green900);
}

.calculator__input__people {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.personIcon {
    background-image: url('../images/icon-person.svg');
}

/* Calculator output */ 
.calculator__output {
    padding: 29.5px 23px;

    background-color: var(--green900);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 41px;
}

.calculator__output__results {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.calculator__output__results__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator__output__results__item__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculator__output__results__item__left__top {
    color: var(--white);
}

.calculator__output__results__item__left__bottom {
    color: var(--grey400);
}

.calculator__output__results__item__right {
    color: var(--green400);
}

.calculator__output__button {
    all: unset;
    padding: 9px 33px;

    border-radius: 5px;
    color: var(--green900);

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--green400);
}