@import 'mobile.css';

@media (min-width: 650px) {
    body {
        display: flex;
        justify-content: center;
    }

    .container {
        width: 608px;
        margin-bottom: 50px;
    }

    .calculator {
        padding: 54px 75.5px;

        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;

        gap: 40px;

        transition: box-shadow 0.3s;
    }

    .calculator:hover {
        box-shadow: 5px 10px 60px #b0cbce;
    }

    .calculator__input {
        padding: 0px;
        gap: 24px;
    }

    .calculator__input__tip__select {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .calculator__output {
        padding: 43px 47.5px;
    }

    .calculator__output__results {
        gap: 8px;
    }

    .calculator__output__results__item__right {
        font-size: 48px;
        font-weight: 700;
        line-height: 71px;
        letter-spacing: -1px;   
    }

    .calculator__output {
        gap: 16px;
    }

    .calculator__input__tip__select__item {
        cursor: pointer;
    }
}
